.questionSidebar{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top:2vh;
    height: 6vh;
    border-bottom: 5px rgb(120, 77, 238) solid;
    background-color: rgb(216, 216, 243);
    font-size: x-large;
    font-weight: bolder;
}

.questionSidebar:hover{
    cursor: pointer;
}