.LoginForm{
    background-color: rgb(255, 255, 255);
    position:fixed;
    top:10%;
    left:80%;
    width: 20vw;
    height: 90vh;
    border-top: 6px solid rgb(113, 5, 255);
    border-left: 6px solid rgb(113, 5, 255);
}

.LoginForm input{
    width:80%;
    margin-right:10%;
    margin-top:5%;
    text-align: center;
}

.loginFormButtons{
    display: flex;
    text-align: center;
    flex-direction: column;    
    margin-top:5%;
}

.loginFormButtons input{
    width: 50%;
    margin-top:5%;
    margin-left: 25%;
    margin-right: 2%;
}